@use '@/styles/helpers' as *;

.footer {
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    padding-block: 48px;
    row-gap: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include tablet {
      flex-wrap: wrap;
      row-gap: 30px;
    }

    &-logo {
      @include tablet {
        width: 50%;
        order: -2;
      }
    }

    &-menu {
      @include tablet {
        width: 100%;
      }

      &-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
        align-items: center;
        column-gap: fluid-to-laptop(60, 20);
        font-size: fluid-to-laptop(18, 16);

        @include hover {
          text-decoration: underline;
        }
      }
    }

    &-contacts {
      display: flex;
      column-gap: 23px;

      @include tablet {
        order: -1;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      column-gap: fluid-to-laptop(20, 10);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-copyright {
      color: var(--color-gray-text);
    }

    &-privacy {
      color: var(--color-gray-text);

      @include hover {
        text-decoration: underline;
      }
    }
  }
}