$laptop: 1440;
$tablet: 1180;
$mobile: 768;
$mobile-s: 480;

@mixin laptop-above {
  @media (width > #{$laptop}px) {
    @content;
  }
}

@mixin laptop {
  @media (width <= #{$laptop}px) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > #{$tablet}px) {
    @content;
  }
}

@mixin tablet {
  @media (width <= #{$tablet}px) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > #{$mobile}px) {
    @content;
  }
}

@mixin mobile {
  @media (width <= #{$mobile}px) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > #{$mobile-s}px) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= #{$mobile-s}px) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}