@use '@/styles/helpers' as *;

.burger-button {
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  padding: 0;
  width: 24px;
  height: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.is-active {
    .burger-button__line:nth-child(1) {
      transform: rotate(45deg);
      translate: 0 5px;
    }

    .burger-button__line:nth-child(2) {
      transform: rotate(-45deg);
      translate: 0 -2px;
    }
  }

  &__line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--color-white);
    transition-duration: var(--transition-duration);
  }
}