@use '@/styles/helpers' as *;

.contact-us {
  background: url('/images/contact-us-bg.png') center / cover no-repeat;
  padding-bottom: 300px;

  @include mobile {
    padding-bottom: 400px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: fluid(80, 29);
    padding-block: fluid(60, 32) fluid(94, 60);
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: fluid(48, 16);
    
    &-title {
      color: var(--color-white);
      max-width: 424px;

      span {
        color: var(--color-white);
        text-decoration: 1px underline;
        text-underline-offset: fluid(20, 10);
      }
    }

    &-subtitle {
      color: var(--color-gray-text);
      max-width: 345px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    
    &-input {
      padding-block: fluid(40, 19);
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-left: none;
      color: var(--color-white);

      &::placeholder {
        color: var(--color-white);
      }

      &--name {
        width: 50%;

        @include mobile {
          width: 100%;
          border-right: none;
        }
      }

      &--phone {
        width: 50%;
        border-right: none;
        padding-left: fluid-to-laptop(48, 26);

        @include mobile {
          width: 100%;
          padding-left: 0;
        }
      }

      &--mail {
        width: 100%;
        border-right: none;
      }

      &--message {
        width: 100%;
        border-right: none;
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      padding-top: fluid(40, 19);
      row-gap: fluid(40, 24);
    }

    &-agreement {
      color: var(--color-gray-text);
    }
  }

  &__success {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    text-align: center;
    padding-block: fluid(352, 180);
  }
}
