@use '@/styles/helpers' as *;

.hero {
  margin-top: -119px; 
  padding-top: 163px;
  background: url('./images/hero-bg.png') right center / cover no-repeat;
  overflow: hidden;

  @include mobile {
    padding-top: 120px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: fluid(112, 82);
    padding-block: 0 fluid(40, 20);
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: fluid(60, 20);
  }

  &__title {
    max-width: 1200px;

    span {
      text-decoration: 1px underline;
      text-underline-offset: fluid(25, 10);
    }
  }

  &__subtitle {
    max-width: 316px;
    color: var(--color-gray-text)

    span {
      color: var(--color-white);
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      align-items: start;
      flex-direction: column-reverse;
      row-gap: 32px;
    }
  }

  &__button {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    align-self: end;
    column-gap: 176px;
    max-width: 340px;
    padding: fluid(24, 16);
    background: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color-white);

    @include mobile {
      grid-template-rows: 0;
      align-self: start;
      max-width: 100%;
      width: 100%;
    }

    img {
      grid-column: 2 / 2;
      grid-row: 3 / 3;
      justify-self: end;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: fluid(40, 16);
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    @include mobile {
      width: 100%;
    }

    &-title {
      color: var(--color-dark);

      span {
        color: rgba(22, 22, 22, 0.5);
      }
    }

    &-phone-input {
      padding: 24px;
      border: 1px solid #e9e9e9;
      border-radius: var(--border-radius-s);
      color: var(--color-dark);
      font-size: 18px;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      column-gap: 14px;

      @include mobile {
        flex-direction: column;
        row-gap: 12px;
      }
    }
  }
}