@use '@/styles/helpers' as *;

.options-slider {
  &--office {
    background-color: var(--color-dark);
  }

  &--indirect {
    background-color: var(--color-white);

    .options-slider__number {
      &-value {
        color: var(--color-dark);
      }

      &-title {
        color: var(--color-dark);
      }

      &-line {
        background-color: rgba(22, 22, 22, 0.3);
      }
    }

    .options-slider__info {
      justify-content: start;
      padding: 40px;
      border-radius: var(--border-radius-l);
      background: url('/images/slider-bg-indirect.png') center / cover no-repeat;

      &-title {
        color: var(--color-dark);
        margin-bottom: 0;
      }

      &-subtitle {
        color: var(--color-dark);

        span {
          color: rgba(22, 22, 22, 0.6);
        }
      }
    }
  }

  &--profile {
    background-color: var(--color-gray);

    .options-slider__number {
      &-value {
        color: var(--color-dark);
      }

      &-title {
        color: var(--color-dark);
      }

      &-line {
        background-color: rgba(22, 22, 22, 0.2);
      }
    }

    .options-slider__info {
      &-title {
        color: var(--color-dark);
      }

      &-subtitle {
        color: var(--color-dark);

        span {
          color: rgba(22, 22, 22, 0.6);
        }
      }
    }
  }

  &--uniform {
    background-color: var(--color-white);

    .options-slider__number {
      &-value {
        color: var(--color-dark);
      }

      &-title {
        color: var(--color-dark);
      }

      &-line {
        background-color: rgba(22, 22, 22, 0.3);
      }
    }

    .options-slider__info {
      justify-content: start;
      padding: 40px;
      border-radius: var(--border-radius-l);
      background: url('/images/slider-bg-uniform.png') 100% / 100%  no-repeat;

      &-title {
        margin-bottom: 0;
      }
    }
  }

  &--grilyato {
    background-color: var(--color-white);

    .options-slider__number {
      &-value {
        color: var(--color-dark);
      }

      &-title {
        color: var(--color-dark);
      }

      &-line {
        background-color: rgba(22, 22, 22, 0.3);
      }
    }

    .options-slider__info {
      justify-content: start;
      padding: 40px;
      border-radius: var(--border-radius-l);
      background: url('/images/slider-bg-grilyato.png') 100% / 100%  no-repeat;

      &-title {
        margin-bottom: 0;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: fluid(48, 32);
    padding-block: fluid(120, 40) fluid(60, 20);
  }

  &__number {
    display: flex;
    align-items: center;

    &-value {
      color: rgba(255, 255, 255, 0.6);
    }

    &-title {
      margin-right: fluid(26, 16);
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
    }

    &-line {
      flex-grow: 1;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 24px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: fluid(46, 24);

    &-title {
      margin-bottom: auto;
      max-width: 650px;
    }

    &-subtitle {
      max-width: fluid(540, 280);

      span {
        color: var(--color-gray-text)
      }
    }

    &-button {
      width: fit-content;
      justify-content: center;

      @include mobile-s {
        width: 100%;
      }
    }
  }

  &__swiper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 0 !important;

    &-wrapper {
      min-width: 0 !important;
    }

    &-image {
      border-radius: var(--border-radius-l);
    }
  }

  &__swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__swiper-button {
    position: absolute;
    top: 40px;
    left: 40px;

    @include tablet {
      top: 10px;
      left: 10px;
    }
  }

  &__description {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(46, 12);
    padding: fluid-to-laptop(20, 16) fluid-to-laptop(20, 12);
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    @include tablet {
      position: relative;
      bottom: 0;
      left: 0;
    }


    &-title {
      color: var(--color-dark);
      font-weight: 700;
    }

    &-body {
      display: flex;
      align-items: center;
      column-gap: fluid-to-laptop(127, 20);

      @include tablet {
        justify-content: space-between;
      }
    }

    &-text {
      color: rgba(22, 22, 22, 0.6);
      font-size: fluid(16, 12);
    }
  }

  &__swiper {
    &-navigation {
      position: absolute;
      display: flex;
      z-index: 1;
      column-gap: 17px;
      bottom: 40px;
      right: 40px;

      @include tablet {
        bottom: 100px;
        right: 10px;
      }

      @include mobile {
        bottom: 95px;
      }
    }

    &-nav-button {
      @include square(fluid(99, 40));

      position: relative;
      display: flex;
      justify-content: center;
      border-radius: 64px;
      backdrop-filter: blur(44px);
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition-duration: var(--transition-duration);

      @include hover {
        backdrop-filter: blur(44px);
        background: var(--color-white);

        .options-slider__swiper-nav-button-image {
          filter: invert(1);
        }
      }
    }

    &-nav-button-image {
      @include abs-center;

      width: fluid(12, 9);
      height: fluid(24, 16);
    }
  }
}

