@use 'helpers' as *;

body {
  @include fluid-text(18, 14);

  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.05em;
  color: var(--color-white);
  background-color: var(--color-white);
  

  &.is-lock {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-white);
  font-weight: 400;
}

h1, .h1 {
  @include fluid-text(90, 28);

  line-height: 100%;

  span {
    color: rgba(255, 255, 255, 0.7);
  }
}

h2, .h2 {
  @include fluid-text(80, 28);

  line-height: 95%;
}

h3, .h3 {
  @include fluid-text(64, 28);

  line-height: 95%;
}

h4, .h4 {
  @include fluid-text(28, 20);
}

h5, .h5 {
  @include fluid-text(20, 14);
}

h6, .h6 {
  @include fluid-text(18, 12);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

.accent-text {
  color: var(--color-accent);
  text-decoration: 1px underline;
  text-underline-offset: fluid(20, 6);
}

.activity__gray-text {
  color: rgba(22, 22, 22, 0.5);
}

.hidden {
  display: none !important;
}