@use 'helpers' as *;

.container {
  max-width: var(--container-width);
  margin-inline: 60px;

  @include laptop {
    margin-inline: 30px;
  }

  @include tablet {
    margin-inline: 20px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}